.Main-educations {
    width: 85%;
    height: 73.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    border-radius: 15px;
    background-color: var(--color-green);
    box-shadow: 0px 0px 30px var(--color-green-light1x);
    padding: 2vw;
    margin-top: 15vh;
    flex-direction: column;
    font-family: var(--font-family-header);
    color: var(--color-white);
    box-sizing: border-box;
    transition: 1s;
    animation: shadow-pulse 3s infinite;
    font-family: var(--font-family-Home-italic);
    font-style: italic;
    line-height: 1.3;
}

.myeducations1,
.myeducations2,
.myeducations3 {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2vh;
    font-size: 1.2rem;

    &:last-child {
        margin-bottom: 0;
    }
}

.lsg_educations_datum1,
.lsg_educations_datum2,
.lsg_educations_datum3 {
    width: 30%;
}

.educations_constent1,
.educations_constent2,
.educations_constent3 {
    width: 68%;
    display: flex;
    flex-direction: column;
}

.lsg_educations_name_title,
.lsg_educations_jobs_firm2a {
    color: var(--color-white);
    margin-right: 2vw;
    text-decoration: underline;
    font-weight: 500;
}

.educations_jobs_btn1,
.educations_jobs_btn2,
.educations_jobs_btn3 {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    width: inherit;
    height: 4vh;
    border-radius: 1vw;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 0 1vw rgba(255, 255, 255, 0.1);
    transition: 0.5s;
    margin-bottom: 3vh;

    &:last-child {
        margin-bottom: 8vh;
    }

    &:hover {
        background-color: rgba(255, 255, 255, 0.2);
        box-shadow: inset 0 0 1vw rgba(255, 255, 255, 0.2);
        cursor: pointer;
    }

    svg {
        transition: 0.2s;
    }
}

.lsg_educations_jobs_details1,
.lsg_educations_jobs_details2,
.lsg_educations_jobs_details3 {
    padding: 0.5vw;
    display: flex;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 5vh;
    border-radius: 1vw;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: inset 0 0 0 rgba(255, 255, 255, 0.2);
    color: black;
}

.Show {
    opacity: 1;
    visibility: visible;
}

.arrow {
    svg {
        transform: rotate(180deg);
    }
}

@media screen and (max-width: 800px) {
    .myeducations1,
    .myeducations2,
    .myeducations3 {
        font-size: 1.1rem;
    }

    .lsg_educations_jobs_details1,
    .lsg_educations_jobs_details2,
    .lsg_educations_jobs_details3 {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 650px) {
    .myeducations1,
    .myeducations2,
    .myeducations3 {
        font-size: 0.9rem;
        display: flex;
        flex-direction: column;
    }

    .lsg_educations_jobs_details1,
    .lsg_educations_jobs_details2,
    .lsg_educations_jobs_details3 {
        font-size: 0.73rem;
    }

    .lsg_educations_datum1,
    .lsg_educations_datum2,
    .lsg_educations_datum3 {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .educations_constent1,
    .educations_constent2,
    .educations_constent3 {
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .education_content_wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 500px) {
    .myeducations1,
    .myeducations2,
    .myeducations3 {
        font-size: 0.87rem;
    }

    .lsg_educations_jobs_details1,
    .lsg_educations_jobs_details2,
    .lsg_educations_jobs_details3 {
        font-size: 0.7rem;
    }
}

@media screen and (max-width: 350px) {
    .myeducations1,
    .myeducations2,
    .myeducations3 {
        font-size: 0.75rem;
    }

    .lsg_educations_jobs_details1,
    .lsg_educations_jobs_details2,
    .lsg_educations_jobs_details3 {
        font-size: 0.6rem;
    }
}
