.Main-potfolio {
    width: 85%;
    height: 73.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    border-radius: 15px;
    background-color: var(--color-green);
    box-shadow: 0px 0px 30px var(--color-green-light1x);
    padding: 2vw;
    box-sizing: border-box;
    transition: 1s;
    animation: shadow-pulse 3s infinite;

    @keyframes shadow-pulse {
        0% {
            box-shadow: 0px 0px 30px var(--color-green-light1x);
        }

        50% {
            box-shadow: 0px 0px 20px var(--color-green-light1x);
        }

        100% {
            box-shadow: 0px 0px 30px var(--color-green-light1x);
        }
    }
}
