.Main-languages {
    width: 85%;
    height: 73.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    border-radius: 15px;
    background-color: var(--color-green);
    box-shadow: 0px 0px 30px var(--color-green-light1x);
    padding: 2vw;
    margin-top: 15vh;
    flex-direction: column;
    font-family: var(--font-family-header);
    color: var(--color-white);
    box-sizing: border-box;
    transition: 1s;
    animation: shadow-pulse 3s infinite;
    font-family: var(--font-family-Home-italic);
    font-style: italic;
    line-height: 1.3;
}

.languages {
    width: 90%;
    display: flex;
    flex-direction: column;

    h2 {
        align-self: center;
        font-size: 2rem;
        font-weight: 600;
        margin-bottom: 5vh;
    }
}

.languag-wrap {
    display: flex;
    margin-bottom: 5vh;
    align-items: center;
    justify-content: center;

    &:last-child {
        margin-bottom: 0;
    }

    h3 {
        width: 20%;
        font-size: 1.5rem;
        text-align: right;
        padding-right: 2vw;
    }
}

.containers-languag {
    width: 60%;
    height: 5vh;
    background-color: #ddd;
    border-radius: 15px;
    box-shadow: 0px 0px 8px var(--color-green-light1x);
}

.languag-value {
    height: 5vh;
    padding-right: 2vw;
    padding-left: 2vw;
    line-height: 2vw;
    color: var(--color-white);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 1.5rem;
}

.ukrainian,
.russion {
    width: 100%;
    background-color: var(--color-green-light3x);
}

.cheh {
    width: 60%;
    background-color: var(--color-green-light3x);
}

.english {
    width: 25%;
    background-color: var(--color-green-light3x);
    padding-left: 20px;
}

@media screen and (max-width: 800px) {
    .languages {
        h2 {
            font-size: 2rem;
        }
    }

    .languag-wrap {
        margin-bottom: 5vh;

        h3 {
            width: 30%;
            font-size: 1.5rem;
            padding-right: 2.3vw;
        }
    }

    .containers-languag,
    .languag-value {
        height: 5vh;

    }

    .languag-value {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 600px) {
    .languag-wrap {
        h3 {
            font-size: 1.3rem;
        }
    }

    .languag-value {
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 500px) {
    .languages {
        h2 {
            font-size: 1.7rem;
        }
    }

    .languag-wrap {
        display: flex;
        flex-direction: column;
        margin-bottom: 3.5vh;

        h3 {
            align-self: flex-start;
            margin-bottom: 1.5vh;
            text-align: left;
            margin-left: 10vw;
            font-size: 1.3rem;
        }
    }

    .containers-languag {
        align-self: flex-end;
        margin-right: 10vw;
    }

    .containers-languag,
    .languag-value {
        height: 4vh;
        font-size: 1rem;
    }
}