.Header-Drop-menu {
    position: absolute;
    background-color: var(--color-green-dark2x);
    margin-top: 0.1vw;
    padding: 1vw;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 2;

    visibility: hidden;
    opacity: 0;
    transform: translateY(0.5rem);
    transition: all 0.1s cubic-bezier(0.16, 1, 0.5, 1);

    li {
        display: flex;
        align-items: center;
        margin-bottom: 2vw;
        cursor: pointer;
        border-radius: 0.5vw;
        padding: 0.4vw;

        &:hover {
            background-color: var(--color-green-dark1x);
        }

        &:last-child {
            margin-bottom: 0;
        }

        svg {
            width: 1.8vw;
            height: 1.8vw;
            fill: var(--color-white);
            margin-right: 0.3vw;
        }

        span {
            font-family: var(--font-family-header);
            font-weight: 500;
            font-size: 1.5vw;
            color: var(--color-white);
        }
    }
}

.show {
    visibility: visible;
    opacity: 0.95;
    transform: rotateY(0rem);
}

.arrow {
    transform: rotate(180deg);
    transition: 0.2s ease;
}