@keyframes PdfAnimation {
    0% {
        rotate: 10deg;
    }

    50% {
        rotate: -10deg;
    }

    100% {
        rotate: 10deg;
    }
}

@keyframes PdfListLangENAnim {
    0% {
        transform: rotate(-220deg);
        visibility: hidden;
        opacity: 0;
    }

    100% {
        transform: rotate(-170deg);
        visibility: visible;
        opacity: 1;
    }
}

@keyframes PdfListLangCZAnim {
    0% {
        transform: rotate(-170deg);
        visibility: hidden;
        opacity: 0;
    }

    100% {
        transform: rotate(-120deg);
        visibility: visible;
        opacity: 1;
    }
}

@keyframes PdfListLangUAAnim {
    0% {
        transform: rotate(-120deg);
        visibility: hidden;
        opacity: 0;
    }

    100% {
        transform: rotate(-70deg);
        visibility: visible;
        opacity: 1;
    }
}

@keyframes PdfListLangRUAnim {
    0% {
        transform: rotate(-70deg);
        visibility: hidden;
        opacity: 0;
    }

    100% {
        transform: rotate(-20deg);
        visibility: visible;
        opacity: 1;
    }
}

@keyframes PdfListLangENAnimClose {
    0% {
        visibility: visible;
        opacity: 1;
    }

    100% {
        visibility: hidden;
        opacity: 0;
    }
}

@keyframes PdfListLangCZAnimClose {
    0% {
        transform: rotate(-120deg);
        visibility: visible;
        opacity: 1;
    }

    100% {
        transform: rotate(-170deg);
        visibility: hidden;
        opacity: 0;
    }
}

@keyframes PdfListLangUAAnimClose {
    0% {
        transform: rotate(-70deg);
        visibility: visible;
        opacity: 1;
    }

    100% {
        transform: rotate(-120deg);
        visibility: hidden;
        opacity: 0;
    }
}

@keyframes PdfListLangRUAnimClose {
    0% {
        transform: rotate(-20deg);
        visibility: visible;
        opacity: 1;
    }

    100% {
        transform: rotate(-70deg);
        visibility: hidden;
        opacity: 0;
    }
}

.PdfShow {
    visibility: visible;
    opacity: 1;
}

.PdfLoad {
    padding: 0.1vw;
    width: 5vw;
    height: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    border: 0.35vw solid #ffffffa5;
    border-radius: 50%;
    left: 4vw;
    top: 75vh;
    cursor: pointer;
    z-index: 5;

    svg {
        opacity: 0.7;
        animation: PdfAnimation 2s ease infinite;
    }
}

.PdfListLangEN,
.PdfListLangCZ,
.PdfListLangUA,
.PdfListLangRU {
    width: 80%;
    height: 80%;
    position: absolute;
    left: 2vw;
    bottom: -5vw;
    transform-origin: -5% -3.5vw;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s ease-out;
    border: 0.35vw solid #ffffffa5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-white);
    font-size: 1em;
}

.PdfListLangEN {
    transform: rotate(-170deg);

    span {
        transform: rotate(170deg);
    }
}

.PdfListLangCZ {
    transform: rotate(-120deg);

    span {
        transform: rotate(120deg);
    }
}

.PdfListLangUA {
    transform: rotate(-70deg);

    span {
        transform: rotate(70deg);
    }
}

.PdfListLangRU {
    transform: rotate(-20deg);

    span {
        transform: rotate(20deg);
    }
}

@media screen and (max-width: 800px) {
    .PdfLoad {
        width: 7vw;
        height: 7vw;
        svg {
            width: 4.5vw;
        }
    }
    .PdfListLangEN,
    .PdfListLangCZ,
    .PdfListLangUA,
    .PdfListLangRU {
        width: 70%;
        height: 70%;
        left: 3.8vw;
        bottom: -4.5vw;
        transform-origin: -5% -3.5vw;
        font-size: 0.8em;
    }
}
@media screen and (max-width: 500px) {
    .PdfLoad {
        width: 7vw;
        height: 7vw;
        svg {
            width: 4vw;
        }
    }
    .PdfListLangEN,
    .PdfListLangCZ,
    .PdfListLangUA,
    .PdfListLangRU {
        width: 70%;
        height: 70%;
        left: 3.8vw;
        bottom: -4.5vw;
        transform-origin: -5% -3.5vw;
        font-size: 0.7em;
    }
}
@media screen and (max-width: 450px) {
    .PdfLoad {
        width: 9vw;
        height: 9vw;
        svg {
            width: 5vw;
        }
    }
    .PdfListLangEN,
    .PdfListLangCZ,
    .PdfListLangUA,
    .PdfListLangRU {
        width: 80%;
        height: 80%;
        left: 4.8vw;
        bottom: -8vw;
        transform-origin: -15% -5vw;
        font-size: 0.7em;
    }
}
