@keyframes modalWindowPdf {
    0% {
        opacity: 0;
        visibility: hidden;
    }

    100% {
        opacity: 1;
        visibility: visible;
    }
}

@keyframes modalWindowPdfClose {
    0% {
        opacity: 1;
        visibility: visible;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}

.LoadPdfWindow {
    position: fixed;
    width: 100%;
    top: 20vh;
    font-family: var(--font-family-header);
    display: flex;
    justify-content: center;
    z-index: 11;
    transition: opasity 1s, visibility 1s;
    opacity: 0;
    visibility: hidden;
}

.LoadPdfWindowWrap {
    background-color: var(--color-white);
    border-radius: 2vw;
    border: 0.5vw solid rgba($color: #000, $alpha: 0.2);
    width: 50%;
    padding: 6%;
    animation: shadow-pulse 3s infinite;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(var(--index)*1.3);
}

.LoadPdfWraperP {
    font-weight: 500;
    margin-bottom: 1.5vw;
    text-align: center;
    margin-bottom: 5vh;
}

.LoadPdfButtons {
    display: flex;
    justify-content: center;
    width: 100%;
}

.LoadPdfButtonsOK,
.LoadPdfButtonsCancel {
    width: 40%;
    padding: 0.5vw 1vw;
    background-color: darkgray;
    border-radius: 1vw;
    border: 0.2vw solid rgba($color: #000, $alpha: 0.2);
    font-weight: 600;
    cursor: pointer;

    &:last-child {
        margin-left: 2vw;
    }

    &:active {
        transform: translateY(0.2vw);
    }
}

.LoadPdfButtonsOK {
    background-color: rgb(70, 250, 70);
}

.PdfShowModal {
    animation: modalWindowPdf 1s ease-in-out forwards;
}

.PdfCloseModal {
    animation: modalWindowPdfClose 0.5s ease-in-out forwards;
}

@media screen and (max-width: 500px) {
    .LoadPdfWindowWrap {
        width: 90%;
        font-size: calc(var(--index)*1.8);
    }
}