@keyframes PhoneCall {
    0% {
        transform: rotate(60deg) scale(1);
    }

    50% {
        transform: rotate(25deg) scale(1.2);
    }

    100% {
        transform: rotate(60deg) scale(1);
    }
}

@keyframes contacktItemslinkedln {
    0% {
        transform: rotate(240deg);
        visibility: hidden;
        opacity: 0;
    }

    100% {
        transform: rotate(190deg);
        visibility: visible;
        opacity: 1;
    }
}

@keyframes contacktItemsemail {
    0% {
        transform: rotate(190deg);
        visibility: hidden;
        opacity: 0;
    }

    100% {
        transform: rotate(140deg);
        visibility: visible;
        opacity: 1;
    }
}

@keyframes contacktItemswhatsapp {
    0% {
        transform: rotate(140deg);
        visibility: hidden;
        opacity: 0;
    }

    100% {
        transform: rotate(90deg);
        visibility: visible;
        opacity: 1;
    }
}

@keyframes contacktItemstelegram {
    0% {
        transform: rotate(90deg);
        visibility: hidden;
        opacity: 0;
    }

    100% {
        transform: rotate(40deg);
        visibility: visible;
        opacity: 1;
    }
}

@keyframes contacktItemslinkedlnClose {
    0% {
        visibility: visible;
        opacity: 1;
    }

    100% {
        visibility: hidden;
        opacity: 0;
    }
}

@keyframes contacktItemsemailClose {
    0% {
        transform: rotate(140deg);
        visibility: visible;
        opacity: 1;
    }

    100% {
        transform: rotate(190deg);
        visibility: hidden;
        opacity: 0;
    }
}

@keyframes contacktItemswhatsappClose {
    0% {
        transform: rotate(90deg);
        visibility: visible;
        opacity: 1;
    }

    100% {
        transform: rotate(140deg);
        visibility: hidden;
        opacity: 0;
    }
}

@keyframes contacktItemstelegramClose {
    0% {
        transform: rotate(40deg);
        visibility: visible;
        opacity: 1;
    }

    100% {
        transform: rotate(90deg);
        visibility: hidden;
        opacity: 0;
    }
}

.contactsShow {
    visibility: visible;
    opacity: 1;
}

.contact_telefon {
    padding: 0.1vw;
    width: calc(var(--index) * 3.3);
    height: calc(var(--index) * 3.3);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    border: 0.35vw solid #ffffffa5;
    border-radius: 50%;
    right: 4vw;
    top: 75vh;
    cursor: pointer;
    z-index: 5;

    svg {
        width: calc(var(--index) * 1.8);
        height: calc(var(--index) * 1.8);
        opacity: 0.7;
        animation: PhoneCall 1.5s ease infinite;
    }
}

.contact_telegram,
.contact_whatsapp,
.contact_email,
.contact_linkedln {
    position: absolute;
    bottom: calc(var(--index) * -4);
    left: 2vw;
    transform-origin: 20% calc(var(--index) * -2.5);
    visibility: hidden;
    opacity: 0;
    transition: 0.5s ease-out;

    a {
        img {
            width: calc(var(--index) * 2.5);
            height: calc(var(--index) * 2.5);
            transform: rotate(-90deg);
        }
    }
}

.contact_telegram {
    transform: rotate(40deg);

    a {
        img {
            transform: rotate(-30deg);
        }
    }
}

.contact_whatsapp {
    transform: rotate(90deg);

    a {
        img {
            transform: rotate(-90deg);
        }
    }
}

.contact_email {
    transform: rotate(140deg);

    a {
        img {
            transform: rotate(-140deg);
        }
    }
}

.contact_linkedln {
    transform: rotate(190deg);

    a {
        img {
            transform: rotate(-190deg);
        }
    }
}

@media screen and (max-width: 750px) {
    .contact_telegram,
    .contact_whatsapp,
    .contact_email,
    .contact_linkedln {
        bottom: calc(var(--index) * -3.8);
    }
}

@media screen and (max-width: 600px) {
    .contact_telegram,
    .contact_whatsapp,
    .contact_email,
    .contact_linkedln {
        bottom: calc(var(--index) * -3.6);
    }
}

@media screen and (max-width: 400px) {
    .contact_telefon {
        width: calc(var(--index) * 3.8);
        height: calc(var(--index) * 3.8);
    }

    .contact_telegram,
    .contact_whatsapp,
    .contact_email,
    .contact_linkedln {
        bottom: calc(var(--index) * -8);
        transform-origin: 20% calc(var(--index) * -4);

        a {
            img {
                width: calc(var(--index) * 3.4);
                height: calc(var(--index) * 3.4);
            }
        }

        width: calc(var(--index) * 6);
        height: calc(var(--index) * 6);
    }
}
