.Footer {
    margin: 0;
    padding: 1vh 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, #061900, #124c00);
}

.Footer-p {

    color: var(--color-white);
    font-family: var(--font-family-Raleway);
    font-size: 1.2vw;
    font-weight: 300;
}