.Main-works {
    width: 85%;
    height: 73.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    border-radius: 15px;
    background-color: var(--color-green);
    box-shadow: 0px 0px 30px var(--color-green-light1x);
    padding: 2vw;
    margin-top: 15vh;
    flex-direction: column;
    font-family: var(--font-family-header);
    color: var(--color-white);
    box-sizing: border-box;
    transition: 1s;
    animation: shadow-pulse 3s infinite;
    font-family: var(--font-family-Home-italic);
    font-style: italic;
    line-height: 1.3;
    scroll-margin-top: 15vh;
}

.myworks1,
.myworks2,
.myworks3 {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2vh;
    font-size: calc(var(--index));

    &:last-child {
        margin-bottom: 0;
    }
}

.lsg_works_datum1,
.lsg_works_datum2,
.lsg_works_datum3 {
    width: 30%;
}

.works_constent1,
.works_constent2,
.works_constent3 {
    width: 68%;
    display: flex;
    flex-direction: column;
}

.works_name_title {
    color: var(--color-white);
    margin-right: 2vw;
    text-decoration: underline;
    font-weight: 500;
}

.works_jobs_btn1,
.works_jobs_btn2,
.works_jobs_btn3 {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    width: inherit;
    height: 4vh;
    border-radius: 1vw;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 0 1vw rgba(255, 255, 255, 0.1);
    transition: 0.5s;
    margin-bottom: 3vh;

    &:last-child {
        margin-bottom: 8vh;
    }

    &:hover {
        background-color: rgba(255, 255, 255, 0.2);
        box-shadow: inset 0 0 1vw rgba(255, 255, 255, 0.2);
        cursor: pointer;
    }

    svg {
        transition: 0.2s;
    }
}

.lsg_works_jobs_details1,
.lsg_works_jobs_details2,
.lsg_works_jobs_details3 {
    padding: 0.5vw;
    display: flex;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 5vh;
    border-radius: 1vw;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: inset 0 0 0 rgba(255, 255, 255, 0.2);
    color: black;
    font-size: calc(var(--index)*0.75);
    z-index: 5;
}

.Show {
    opacity: 1;
    visibility: visible;
}

.arrow {
    transform: rotate(180deg);
}

@media screen and (max-width: 500px) {

    .myworks1,
    .myworks2,
    .myworks3 {
        font-size: calc(var(--index)*1.35);
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .lsg_works_datum1,
    .lsg_works_datum2,
    .lsg_works_datum3 {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .works_constent1,
    .works_constent2,
    .works_constent3 {
        width: 90%;
        display: flex;
        align-items: center;
    }

    .MainWorkWrap {
        text-align: center;
    }

    .lsg_works_jobs_details1,
    .lsg_works_jobs_details2,
    .lsg_works_jobs_details3 {
        font-size: calc(var(--index));
    }
}