@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
@import url("https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100;200;300;400;500;600;700;800&display=swap");
:root {
  --index: (1vh + 1vw);
  --color-green: #124C00;
  --color-green-dark1x: #182813;
  --color-green-dark2x: #061900;
  --color-green-light1x: #49A82B;
  --color-green-light2x: #64A84E;
  --color-green-light3x:#4caf50;
  --color-white: #fff;
  --color-black: #000;
  --font-family-Raleway: "Raleway",
      sans-serif;
  --font-family-header: font-family: "Vollkorn",
      sans-serif;
  --font-family-Home-italic: "Playpen Sans", cursive, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

@keyframes shadow-pulse {
  0% {
    box-shadow: 0px 0px 30px var(--color-green-light1x);
  }
  50% {
    box-shadow: 0px 0px 20px var(--color-green-light1x);
  }
  100% {
    box-shadow: 0px 0px 30px var(--color-green-light1x);
  }
}
.Home,
.skills,
.portfolio,
.about-me {
  transform: translate(0%, -120%);
  opacity: 0;
  transition: all 1s ease 0s;
  z-index: 2;
}

.skills._active {
  transition: all 1s ease 0.15s;
}

.portfolio._active {
  transition: all 1s ease 0.3s;
}

.about-me._active {
  transition: all 1s ease 0.45s;
}

.home-my-foto {
  transform: translate(50%, 0%);
  opacity: 0;
  transition: all 1s ease 0s;
}

.home-my-conten {
  transform: translate(-50%, 0%);
  opacity: 0;
  transition: all 1s ease 0s;
}

.front-end {
  transform: translate(100%, 0%);
  opacity: 0;
  transition: all 1s ease 0s;
}

.back-end {
  transform: translate(-100%, 0%);
  opacity: 0;
  transition: all 1s ease 0s;
}

@media screen and (max-width: 500px) {
  .front-end {
    transform: translate(-23%, 0%);
  }
  .back-end {
    transform: translate(23%, 0%);
  }
}
.myworks1,
.myworks2,
.myworks3,
.myeducations1,
.myeducations2,
.works_jobs_btn1,
.works_jobs_btn2,
.works_jobs_btn3,
.educations_jobs_btn1 {
  transform: translate(0%, 100%);
  opacity: 0;
  transition: all 1s ease 0s;
}

.works_jobs_btn1,
.works_jobs_btn2,
.works_jobs_btn3,
.educations_jobs_btn1 {
  z-index: 2;
}

.lsg_main_languages {
  transform: translate(0%, -100%);
  opacity: 0;
  transition: all 1s ease 1s;
}

.lsg_main_english,
.lsg_main_cheh,
.lsg_main_rus,
.lsg_main_ukranian {
  transform: translate(50%, 0%);
  opacity: 0;
  transition: all 2s ease 0s;
}

.containers-languag {
  transform: translate(-50%, 0%);
  opacity: 0;
  transition: all 2s ease 0s;
}

.lsg_main_hobies_title,
.lsg_main_character_title {
  transform: translate(0%, -120%);
  opacity: 0;
  transition: all 1s ease 0s;
}

.lsg_main_hobies_text,
.lsg_main_character_text {
  transform: translate(0%, 30%);
  opacity: 0;
  transition: all 1s ease 0s;
}

.lsg_PortfolioTitlePage {
  transform: translate(0%, 100%);
  opacity: 0;
  transition: all 1s ease 0s;
}

.portElem {
  transform: translate(100%, 0%);
  opacity: 0;
  transition: all 1s ease-in-out 0s;
}

._active {
  transform: translate(0%, 0%);
  opacity: 1;
  visibility: visible;
}

@keyframes shadow-pulse {
  0% {
    box-shadow: 0px 0px 30px var(--color-green-light1x);
  }
  50% {
    box-shadow: 0px 0px 20px var(--color-green-light1x);
  }
  100% {
    box-shadow: 0px 0px 30px var(--color-green-light1x);
  }
}
@keyframes modalWindowEmail {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
@keyframes modalWindowEmailClose {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
.SendEmail {
  width: 100%;
  position: fixed;
  top: 7vh;
  display: flex;
  justify-content: center;
  font-size: calc(var(--index) * 1.3);
  z-index: 11;
  opacity: 0;
  visibility: hidden;
}

.SendEmailForm {
  background-color: var(--color-white);
  border-radius: 2vw;
  border: 0.5vw solid rgba(0, 0, 0, 0.2);
  width: 60vw;
  display: flex;
  flex-direction: column;
  padding: 2vw;
  animation: shadow-pulse 3s infinite;
}
.SendEmailForm .labelName,
.SendEmailForm .labelEmail,
.SendEmailForm .labelMessage {
  font-family: var(--font-family-header);
  font-weight: 900;
  margin: 1vh 0 1vh 1vw;
}
.SendEmailForm .labelName:first-child,
.SendEmailForm .labelEmail:first-child,
.SendEmailForm .labelMessage:first-child {
  margin-top: 0;
}
.SendEmailForm .name,
.SendEmailForm .email,
.SendEmailForm .message {
  padding: 0.5vw;
  border-radius: 1vw;
  border: 0.2vw solid rgba(0, 0, 0, 0.2);
  outline: none;
}
.SendEmailForm .EmailButtons {
  margin-top: 1vw;
  width: 100%;
}
.SendEmailForm .emailButtonsSubmitBut,
.SendEmailForm .emailButtonsCencelBut {
  min-width: 35%;
  padding: 0.5vh 1vw;
  background-color: darkgray;
  border-radius: 1vw;
  border: 0.2vw solid rgba(0, 0, 0, 0.2);
  font-weight: 600;
  cursor: pointer;
}
.SendEmailForm .emailButtonsSubmitBut:last-child,
.SendEmailForm .emailButtonsCencelBut:last-child {
  margin-left: 2vw;
}
.SendEmailForm .emailButtonsSubmitBut:active,
.SendEmailForm .emailButtonsCencelBut:active {
  transform: translateY(0.2vw);
}
.SendEmailForm .emailButtonsSubmitBut {
  background-color: rgb(70, 250, 70);
}

.EmailButtons {
  display: flex;
  justify-content: center;
}

.SendEmailShow {
  animation: modalWindowEmail 1s ease-in-out forwards;
}

.SendEmailClose {
  animation: modalWindowEmailClose 0.5s ease-in-out forwards;
}

@media screen and (max-width: 500px) {
  .SendEmail {
    font-size: calc(var(--index) * 1.5);
  }
  .SendEmailForm {
    width: 90%;
  }
  .EmailButtons {
    width: 100%;
  }
  .name,
  .email,
  .message {
    margin-bottom: 2vh;
  }
}
@keyframes modalWindowPdf {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
@keyframes modalWindowPdfClose {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
.LoadPdfWindow {
  position: fixed;
  width: 100%;
  top: 20vh;
  font-family: var(--font-family-header);
  display: flex;
  justify-content: center;
  z-index: 11;
  transition: opasity 1s, visibility 1s;
  opacity: 0;
  visibility: hidden;
}

.LoadPdfWindowWrap {
  background-color: var(--color-white);
  border-radius: 2vw;
  border: 0.5vw solid rgba(0, 0, 0, 0.2);
  width: 50%;
  padding: 6%;
  animation: shadow-pulse 3s infinite;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(var(--index) * 1.3);
}

.LoadPdfWraperP {
  font-weight: 500;
  margin-bottom: 1.5vw;
  text-align: center;
  margin-bottom: 5vh;
}

.LoadPdfButtons {
  display: flex;
  justify-content: center;
  width: 100%;
}

.LoadPdfButtonsOK,
.LoadPdfButtonsCancel {
  width: 40%;
  padding: 0.5vw 1vw;
  background-color: darkgray;
  border-radius: 1vw;
  border: 0.2vw solid rgba(0, 0, 0, 0.2);
  font-weight: 600;
  cursor: pointer;
}
.LoadPdfButtonsOK:last-child,
.LoadPdfButtonsCancel:last-child {
  margin-left: 2vw;
}
.LoadPdfButtonsOK:active,
.LoadPdfButtonsCancel:active {
  transform: translateY(0.2vw);
}

.LoadPdfButtonsOK {
  background-color: rgb(70, 250, 70);
}

.PdfShowModal {
  animation: modalWindowPdf 1s ease-in-out forwards;
}

.PdfCloseModal {
  animation: modalWindowPdfClose 0.5s ease-in-out forwards;
}

@media screen and (max-width: 500px) {
  .LoadPdfWindowWrap {
    width: 90%;
    font-size: calc(var(--index) * 1.8);
  }
}
.Header-Drop-menu {
  position: absolute;
  background-color: var(--color-green-dark2x);
  margin-top: 0.01vw;
  padding: 1vw;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  position: fixed;
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  transform: translateY(0.5rem);
  transition: all 0.1s cubic-bezier(0.16, 1, 0.5, 1);
}
.Header-Drop-menu li {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 2vw;
  cursor: pointer;
  border-radius: 0.5vw;
  padding: 0.4vw;
}
.Header-Drop-menu li:hover {
  background-color: var(--color-green-dark1x);
}
.Header-Drop-menu li:last-child {
  margin-bottom: 0;
}
.Header-Drop-menu li svg {
  width: 1.8vw;
  height: 1.8vw;
  fill: var(--color-white);
  margin-right: 0.3vw;
}
.Header-Drop-menu li span {
  font-family: var(--font-family-header);
  font-weight: 500;
  font-size: 1.5vw;
  color: var(--color-white);
}

.Show {
  visibility: visible;
  opacity: 0.95;
  transform: rotateY(0rem);
}

.arrow-up {
  transform: rotate(180deg);
  transition: 0.2s ease;
}

@media screen and (max-width: 800px) {
  .Header-Drop-menu {
    margin-top: 0.07vw;
  }
  .Header-Drop-menu li svg {
    width: 2vw;
    height: 2vw;
    margin-right: 0.5vw;
  }
  .Header-Drop-menu li span {
    font-size: 2.5vw;
  }
}
@media screen and (max-width: 500px) {
  .Header-Drop-menu {
    margin-top: 0.092vw;
    margin-left: -2vw;
  }
  .Header-Drop-menu li svg {
    width: 2.6vw;
    height: 2.6vw;
  }
  .Header-Drop-menu li span {
    font-size: calc(var(--index) * 2);
  }
}
.langBar {
  position: absolute;
  right: 0;
  top: 0;
  margin: 1vw 1.5vw 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5vh;
}

@keyframes langButtonTransform {
  0% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(5deg);
  }
}
.language-img {
  width: 3vw;
  display: block;
  border-radius: 15%;
}

.drop-down-body {
  position: relative;
}

.drop-down-btn {
  display: flex;
  align-items: center;
  padding: 5%;
  border-radius: 1vw;
  color: var(--color-white);
  cursor: pointer;
  animation: langButtonTransform 3s ease-in-out infinite;
}

.language-menu {
  margin-top: 2vh;
  position: absolute;
  border-radius: 1vw;
  color: var(--color-white);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s, visibility 0.4s;
}

.language-item {
  display: flex;
  align-items: center;
  margin-bottom: 2vh;
  padding: 5%;
  cursor: pointer;
  border-radius: 1vw;
  transition: background-color 0.4s;
}
.language-item:last-child {
  margin-bottom: 0;
}

.language-title {
  padding-left: 10%;
  width: 2vw;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.2vw;
}

.drop-down-btn:hover + .language-menu,
.language-menu:hover {
  opacity: 1;
  visibility: visible;
}

.language-items {
  background-color: 5fcbff;
}

@media screen and (max-width: 800px) {
  .language-img {
    width: 4vw;
  }
  .language-title {
    width: 3vw;
    font-size: 1.5vw;
  }
}
@media screen and (max-width: 520px) {
  .langBar {
    left: 0;
    right: auto;
    margin: 10vw 0 0 2vw;
  }
  .language-img {
    width: 6vw;
  }
  .language-title {
    width: 4.3vw;
    font-size: 2vw;
  }
}
.Header {
  margin: 0;
  padding: 2vh 0;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(to bottom, #124c00, #061900);
  position: relative;
  width: 100%;
  z-index: 3;
}

.nav-bar {
  width: 50%;
  position: relative;
  z-index: 3;
}

.Header-nav-list {
  display: flex;
  justify-content: space-between;
}
.Header-nav-list li {
  transition: 0.6s;
}
.Header-nav-list li a,
.Header-nav-list li section {
  font-family: var(--font-family-header);
  font-size: 1.7vw;
  font-weight: 600;
  color: var(--color-white);
  text-align: center;
  display: flex;
  align-items: center;
  opacity: 1;
  cursor: pointer;
}
.Header-nav-list li a svg,
.Header-nav-list li section svg {
  margin-right: 0.5vw;
}
.Header-nav-list li:hover {
  transform: scale(1.1);
}

.about-me {
  position: relative;
}
.about-me a svg:last-child {
  margin-right: 0;
  margin-top: 0.6vw;
}

@media screen and (max-width: 800px) {
  .nav-bar {
    width: 75%;
  }
  .Header-nav-list li a span,
  .Header-nav-list li section span {
    font-size: 2.6vw;
  }
  .Header-nav-list li a svg,
  .Header-nav-list li section svg {
    width: 2.4vw;
    height: 2.4vw;
  }
}
@media screen and (max-width: 500px) {
  .nav-bar {
    width: 90%;
  }
  .Header-nav-list li a span,
  .Header-nav-list li section span {
    font-size: 3vw;
  }
  .Header-nav-list li a svg,
  .Header-nav-list li section svg {
    width: 3.4vw;
    height: 3.4vw;
  }
}
@keyframes PdfAnimation {
  0% {
    rotate: 10deg;
  }
  50% {
    rotate: -10deg;
  }
  100% {
    rotate: 10deg;
  }
}
@keyframes PdfListLangENAnim {
  0% {
    transform: rotate(-220deg);
    visibility: hidden;
    opacity: 0;
  }
  100% {
    transform: rotate(-170deg);
    visibility: visible;
    opacity: 1;
  }
}
@keyframes PdfListLangCZAnim {
  0% {
    transform: rotate(-170deg);
    visibility: hidden;
    opacity: 0;
  }
  100% {
    transform: rotate(-120deg);
    visibility: visible;
    opacity: 1;
  }
}
@keyframes PdfListLangUAAnim {
  0% {
    transform: rotate(-120deg);
    visibility: hidden;
    opacity: 0;
  }
  100% {
    transform: rotate(-70deg);
    visibility: visible;
    opacity: 1;
  }
}
@keyframes PdfListLangRUAnim {
  0% {
    transform: rotate(-70deg);
    visibility: hidden;
    opacity: 0;
  }
  100% {
    transform: rotate(-20deg);
    visibility: visible;
    opacity: 1;
  }
}
@keyframes PdfListLangENAnimClose {
  0% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}
@keyframes PdfListLangCZAnimClose {
  0% {
    transform: rotate(-120deg);
    visibility: visible;
    opacity: 1;
  }
  100% {
    transform: rotate(-170deg);
    visibility: hidden;
    opacity: 0;
  }
}
@keyframes PdfListLangUAAnimClose {
  0% {
    transform: rotate(-70deg);
    visibility: visible;
    opacity: 1;
  }
  100% {
    transform: rotate(-120deg);
    visibility: hidden;
    opacity: 0;
  }
}
@keyframes PdfListLangRUAnimClose {
  0% {
    transform: rotate(-20deg);
    visibility: visible;
    opacity: 1;
  }
  100% {
    transform: rotate(-70deg);
    visibility: hidden;
    opacity: 0;
  }
}
.PdfShow {
  visibility: visible;
  opacity: 1;
}

.PdfLoad {
  padding: 0.1vw;
  width: calc(var(--index) * 3.2);
  height: calc(var(--index) * 3.2);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  border: 0.35vw solid rgba(255, 255, 255, 0.6470588235);
  border-radius: 50%;
  left: 4vw;
  top: 75vh;
  cursor: pointer;
  z-index: 5;
}
.PdfLoad svg {
  width: calc(var(--index) * 1.8);
  height: calc(var(--index) * 1.8);
  opacity: 0.7;
  animation: PdfAnimation 2s ease infinite;
}

.PdfListLangEN,
.PdfListLangCZ,
.PdfListLangUA,
.PdfListLangRU {
  width: calc(var(--index) * 2.5);
  height: calc(var(--index) * 2.5);
  position: absolute;
  left: calc(var(--index) * 0.7);
  bottom: calc(var(--index) * -3.9);
  transform-origin: 20% calc(var(--index) * -3);
  visibility: hidden;
  opacity: 0;
  transition: 0.5s ease-out;
  border: 0.35vw solid rgba(255, 255, 255, 0.6470588235);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-white);
  font-size: calc(var(--index));
}

.PdfListLangEN {
  transform: rotate(-170deg);
}
.PdfListLangEN span {
  transform: rotate(170deg);
}

.PdfListLangCZ {
  transform: rotate(-120deg);
}
.PdfListLangCZ span {
  transform: rotate(120deg);
}

.PdfListLangUA {
  transform: rotate(-70deg);
}
.PdfListLangUA span {
  transform: rotate(70deg);
}

.PdfListLangRU {
  transform: rotate(-20deg);
}
.PdfListLangRU span {
  transform: rotate(20deg);
}

@media screen and (max-width: 450px) {
  .PdfLoad {
    width: calc(var(--index) * 4);
    height: calc(var(--index) * 4);
  }
  .PdfLoad svg {
    width: calc(var(--index) * 4.5);
  }
  .PdfListLangEN,
  .PdfListLangCZ,
  .PdfListLangUA,
  .PdfListLangRU {
    width: calc(var(--index) * 2.8);
    height: calc(var(--index) * 2.8);
    font-size: calc(var(--index) * 1.2);
  }
}
@keyframes PhoneCall {
  0% {
    transform: rotate(60deg) scale(1);
  }
  50% {
    transform: rotate(25deg) scale(1.2);
  }
  100% {
    transform: rotate(60deg) scale(1);
  }
}
@keyframes contacktItemslinkedln {
  0% {
    transform: rotate(240deg);
    visibility: hidden;
    opacity: 0;
  }
  100% {
    transform: rotate(190deg);
    visibility: visible;
    opacity: 1;
  }
}
@keyframes contacktItemsemail {
  0% {
    transform: rotate(190deg);
    visibility: hidden;
    opacity: 0;
  }
  100% {
    transform: rotate(140deg);
    visibility: visible;
    opacity: 1;
  }
}
@keyframes contacktItemswhatsapp {
  0% {
    transform: rotate(140deg);
    visibility: hidden;
    opacity: 0;
  }
  100% {
    transform: rotate(90deg);
    visibility: visible;
    opacity: 1;
  }
}
@keyframes contacktItemstelegram {
  0% {
    transform: rotate(90deg);
    visibility: hidden;
    opacity: 0;
  }
  100% {
    transform: rotate(40deg);
    visibility: visible;
    opacity: 1;
  }
}
@keyframes contacktItemslinkedlnClose {
  0% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}
@keyframes contacktItemsemailClose {
  0% {
    transform: rotate(140deg);
    visibility: visible;
    opacity: 1;
  }
  100% {
    transform: rotate(190deg);
    visibility: hidden;
    opacity: 0;
  }
}
@keyframes contacktItemswhatsappClose {
  0% {
    transform: rotate(90deg);
    visibility: visible;
    opacity: 1;
  }
  100% {
    transform: rotate(140deg);
    visibility: hidden;
    opacity: 0;
  }
}
@keyframes contacktItemstelegramClose {
  0% {
    transform: rotate(40deg);
    visibility: visible;
    opacity: 1;
  }
  100% {
    transform: rotate(90deg);
    visibility: hidden;
    opacity: 0;
  }
}
.contactsShow {
  visibility: visible;
  opacity: 1;
}

.contact_telefon {
  padding: 0.1vw;
  width: calc(var(--index) * 3.3);
  height: calc(var(--index) * 3.3);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  border: 0.35vw solid rgba(255, 255, 255, 0.6470588235);
  border-radius: 50%;
  right: 4vw;
  top: 75vh;
  cursor: pointer;
  z-index: 5;
}
.contact_telefon svg {
  width: calc(var(--index) * 1.8);
  height: calc(var(--index) * 1.8);
  opacity: 0.7;
  animation: PhoneCall 1.5s ease infinite;
}

.contact_telegram,
.contact_whatsapp,
.contact_email,
.contact_linkedln {
  position: absolute;
  bottom: calc(var(--index) * -4);
  left: 2vw;
  transform-origin: 20% calc(var(--index) * -2.5);
  visibility: hidden;
  opacity: 0;
  transition: 0.5s ease-out;
}
.contact_telegram a img,
.contact_whatsapp a img,
.contact_email a img,
.contact_linkedln a img {
  width: calc(var(--index) * 2.5);
  height: calc(var(--index) * 2.5);
  transform: rotate(-90deg);
}

.contact_telegram {
  transform: rotate(40deg);
}
.contact_telegram a img {
  transform: rotate(-30deg);
}

.contact_whatsapp {
  transform: rotate(90deg);
}
.contact_whatsapp a img {
  transform: rotate(-90deg);
}

.contact_email {
  transform: rotate(140deg);
}
.contact_email a img {
  transform: rotate(-140deg);
}

.contact_linkedln {
  transform: rotate(190deg);
}
.contact_linkedln a img {
  transform: rotate(-190deg);
}

@media screen and (max-width: 750px) {
  .contact_telegram,
  .contact_whatsapp,
  .contact_email,
  .contact_linkedln {
    bottom: calc(var(--index) * -3.8);
  }
}
@media screen and (max-width: 600px) {
  .contact_telegram,
  .contact_whatsapp,
  .contact_email,
  .contact_linkedln {
    bottom: calc(var(--index) * -3.6);
  }
}
@media screen and (max-width: 400px) {
  .contact_telefon {
    width: calc(var(--index) * 3.8);
    height: calc(var(--index) * 3.8);
  }
  .contact_telegram,
  .contact_whatsapp,
  .contact_email,
  .contact_linkedln {
    bottom: calc(var(--index) * -8);
    transform-origin: 20% calc(var(--index) * -4);
    width: calc(var(--index) * 6);
    height: calc(var(--index) * 6);
  }
  .contact_telegram a img,
  .contact_whatsapp a img,
  .contact_email a img,
  .contact_linkedln a img {
    width: calc(var(--index) * 3.4);
    height: calc(var(--index) * 3.4);
  }
}
.Main-Home {
  width: 85%;
  height: 73.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  border-radius: 15px;
  background-color: var(--color-green);
  box-shadow: 0px 0px 30px var(--color-green-light1x);
  padding: 2vw;
  box-sizing: border-box;
  transition: 1s;
  animation: shadow-pulse 3s infinite;
  scroll-margin-top: 15vh;
}

.home-my-foto {
  display: flex;
  justify-content: flex-end;
  margin-right: 2.8vw;
}
.home-my-foto img {
  width: calc(var(--index) * 15);
  border-radius: 10%;
  box-shadow: 0px 0px 20px var(--color-green-light1x);
  animation: shadow-pulse 3s infinite;
}

.home-my-conten {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  font-family: var(--font-family-Home-italic);
  font-style: italic;
  color: var(--color-white);
  font-weight: 500;
  font-size: calc(var(--index) * 1.2);
  letter-spacing: 2px;
}
.home-my-conten h3 {
  margin-bottom: 1vh;
  text-align: center;
  font-size: calc(var(--index) * 1.4);
}
.home-my-conten p {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.home-my-conten p:first-child {
  margin-bottom: 1vh;
  font-size: calc(var(--index) * 1.3);
}

@media (max-width: 450px) {
  .Main-Home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
  }
  .home-my-conten {
    width: 90%;
  }
  .home-my-foto {
    margin: 0 0 1vh 0;
  }
}
.Main-Skills {
  width: 85%;
  height: 73.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  border-radius: 15px;
  background-color: var(--color-green);
  box-shadow: 0px 0px 30px var(--color-green-light1x);
  padding: 2vw;
  margin-top: 15vh;
  flex-direction: column;
  font-family: var(--font-family-header);
  color: var(--color-white);
  box-sizing: border-box;
  transition: 1s;
  animation: shadow-pulse 3s infinite;
  scroll-margin-top: 15vh;
}

.programers {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.front-end,
.back-end {
  width: 45%;
  padding-left: 1vw;
  display: flex;
  flex-direction: column;
}
.front-end h2,
.back-end h2 {
  align-self: center;
  font-size: calc(var(--index) * 1.8);
  font-weight: 600;
  margin-bottom: 1.8vh;
}

.skill-wrap {
  display: flex;
  margin-bottom: 2vh;
  align-items: center;
}
.skill-wrap:last-child {
  margin-bottom: 0;
}
.skill-wrap h3 {
  width: 14vw;
  margin-right: 2vw;
  font-size: calc(var(--index) * 1.2);
  text-align: end;
  word-wrap: break-word;
}

.containers-skills {
  width: 60%;
  height: calc(var(--index) * 1.3);
  background-color: #ddd;
  border-radius: 1vw;
  box-shadow: 0px 0px 8px var(--color-green-light1x);
}

.skills-value {
  height: calc(var(--index) * 1.3);
  padding-right: 1vw;
  line-height: 2vw;
  color: var(--color-white);
  border-radius: 1vw;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: calc(var(--index));
}

.html,
.css,
.sass,
.js,
.sql,
.git {
  width: 80%;
  background-color: var(--color-green-light3x);
}

.react,
.python,
.selenium,
.telebot,
.django {
  width: 70%;
  background-color: var(--color-green-light3x);
}

.aws,
.drf {
  width: 60%;
  background-color: var(--color-green-light3x);
}

@media screen and (max-width: 500px) {
  .programers {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .front-end,
  .back-end {
    width: 90%;
  }
  .front-end h2,
  .back-end h2 {
    font-size: calc(var(--index) * 1.8);
    margin-bottom: 0.8vh;
  }
  .front-end {
    margin-bottom: 2vh;
  }
  .skill-wrap {
    display: flex;
    margin-bottom: 1.4vh;
  }
  .skill-wrap h3 {
    width: 50vw;
    align-self: center;
    font-size: calc(var(--index) * 1.3);
    display: flex;
    margin-left: 0;
    text-align: left;
  }
}
.containers-skills {
  height: calc(var(--index));
}

.skills-value {
  height: calc(var(--index));
  font-size: calc(var(--index) * 0.8);
}

.Main-potfolio {
  display: none;
  width: 85%;
  height: 73.5vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  border-radius: 15px;
  background-color: var(--color-green);
  box-shadow: 0px 0px 30px var(--color-green-light1x);
  padding: 2vw;
  margin-top: 15vh;
  flex-direction: column;
  font-family: var(--font-family-header);
  color: var(--color-white);
  box-sizing: border-box;
  transition: 1s;
  animation: shadow-pulse 3s infinite;
  scroll-margin-top: 15vh;
}

.portfolioWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
}

.lsg_PortfolioTitlePage {
  margin: 2vh 0;
  font-size: calc(var(--index) * 2);
}

.PortfolioElementsWrap {
  width: 100%;
  height: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow-y: auto;
  overflow-x: hidden;
}
.PortfolioElementsWrap::-webkit-scrollbar {
  width: calc(var(--index));
}
.PortfolioElementsWrap::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.2039215686);
  border-radius: 15px;
}
.PortfolioElementsWrap::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3568627451);
  border-radius: 10px;
}
.PortfolioElementsWrap::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.7333333333);
}

.portElem {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 2vw;
  max-width: 25%;
  transition: 1s;
}

.portElemTitle {
  width: 100%;
  text-align: center;
  color: var(--color-white);
  font-size: calc(var(--index) * 1.3);
  margin-bottom: 2vh;
}

.portElemImg {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  border-radius: 1vw;
}

@media screen and (max-width: 450px) {
  .lsg_PortfolioTitlePage {
    margin: 1.5vh 0;
    font-size: calc(var(--index) * 2.4);
  }
  .portElem {
    max-width: 40%;
  }
  .portElemTitle {
    font-size: calc(var(--index) * 1.7);
  }
}
.Main-works {
  width: 85%;
  height: 73.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  border-radius: 15px;
  background-color: var(--color-green);
  box-shadow: 0px 0px 30px var(--color-green-light1x);
  padding: 2vw;
  margin-top: 15vh;
  flex-direction: column;
  font-family: var(--font-family-header);
  color: var(--color-white);
  box-sizing: border-box;
  transition: 1s;
  animation: shadow-pulse 3s infinite;
  font-family: var(--font-family-Home-italic);
  font-style: italic;
  line-height: 1.3;
  scroll-margin-top: 15vh;
}

.myworks1,
.myworks2,
.myworks3 {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2vh;
  font-size: calc(var(--index));
}
.myworks1:last-child,
.myworks2:last-child,
.myworks3:last-child {
  margin-bottom: 0;
}

.lsg_works_datum1,
.lsg_works_datum2,
.lsg_works_datum3 {
  width: 30%;
}

.works_constent1,
.works_constent2,
.works_constent3 {
  width: 68%;
  display: flex;
  flex-direction: column;
}

.works_name_title {
  color: var(--color-white);
  margin-right: 2vw;
  text-decoration: underline;
  font-weight: 500;
}

.works_jobs_btn1,
.works_jobs_btn2,
.works_jobs_btn3 {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  width: inherit;
  height: 4vh;
  border-radius: 1vw;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 0 1vw rgba(255, 255, 255, 0.1);
  transition: 0.5s;
  margin-bottom: 3vh;
}
.works_jobs_btn1:last-child,
.works_jobs_btn2:last-child,
.works_jobs_btn3:last-child {
  margin-bottom: 8vh;
}
.works_jobs_btn1:hover,
.works_jobs_btn2:hover,
.works_jobs_btn3:hover {
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: inset 0 0 1vw rgba(255, 255, 255, 0.2);
  cursor: pointer;
}
.works_jobs_btn1 svg,
.works_jobs_btn2 svg,
.works_jobs_btn3 svg {
  transition: 0.2s;
}

.lsg_works_jobs_details1,
.lsg_works_jobs_details2,
.lsg_works_jobs_details3 {
  padding: 0.5vw;
  display: flex;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 5vh;
  border-radius: 1vw;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: inset 0 0 0 rgba(255, 255, 255, 0.2);
  color: black;
  font-size: calc(var(--index) * 0.75);
  z-index: 5;
}

.Show {
  opacity: 1;
  visibility: visible;
}

.arrow {
  transform: rotate(180deg);
}

@media screen and (max-width: 500px) {
  .myworks1,
  .myworks2,
  .myworks3 {
    font-size: calc(var(--index) * 1.35);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .lsg_works_datum1,
  .lsg_works_datum2,
  .lsg_works_datum3 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .works_constent1,
  .works_constent2,
  .works_constent3 {
    width: 90%;
    display: flex;
    align-items: center;
  }
  .MainWorkWrap {
    text-align: center;
  }
  .lsg_works_jobs_details1,
  .lsg_works_jobs_details2,
  .lsg_works_jobs_details3 {
    font-size: calc(var(--index));
  }
}
.Main-educations {
  width: 85%;
  height: 73.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  border-radius: 15px;
  background-color: var(--color-green);
  box-shadow: 0px 0px 30px var(--color-green-light1x);
  padding: 2vw;
  margin-top: 15vh;
  flex-direction: column;
  font-family: var(--font-family-header);
  color: var(--color-white);
  box-sizing: border-box;
  transition: 1s;
  animation: shadow-pulse 3s infinite;
  font-family: var(--font-family-Home-italic);
  font-style: italic;
  line-height: 1.3;
  scroll-margin-top: 15vh;
}

.myeducations1,
.myeducations2,
.myeducations3 {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2vh;
  font-size: calc(var(--index) * 1.2);
}
.myeducations1:last-child,
.myeducations2:last-child,
.myeducations3:last-child {
  margin-bottom: 0;
}

.lsg_educations_datum1,
.lsg_educations_datum2,
.lsg_educations_datum3 {
  width: 30%;
}

.educations_constent1,
.educations_constent2,
.educations_constent3 {
  width: 68%;
  display: flex;
  flex-direction: column;
}

.lsg_educations_name_title,
.lsg_educations_name_title2 {
  color: var(--color-white);
  margin-right: 2vw;
  text-decoration: underline;
  font-weight: 500;
}

.educations_jobs_btn1,
.educations_jobs_btn2,
.educations_jobs_btn3 {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  width: inherit;
  height: 4vh;
  border-radius: 1vw;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 0 1vw rgba(255, 255, 255, 0.1);
  transition: 0.5s;
  margin-bottom: 3vh;
}
.educations_jobs_btn1:last-child,
.educations_jobs_btn2:last-child,
.educations_jobs_btn3:last-child {
  margin-bottom: 8vh;
}
.educations_jobs_btn1:hover,
.educations_jobs_btn2:hover,
.educations_jobs_btn3:hover {
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: inset 0 0 1vw rgba(255, 255, 255, 0.2);
  cursor: pointer;
}
.educations_jobs_btn1 svg,
.educations_jobs_btn2 svg,
.educations_jobs_btn3 svg {
  transition: 0.2s;
}

.lsg_educations_jobs_details1,
.lsg_educations_jobs_details2,
.lsg_educations_jobs_details3 {
  padding: 0.5vw;
  display: flex;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 5vh;
  border-radius: 1vw;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: inset 0 0 0 rgba(255, 255, 255, 0.2);
  color: black;
  font-size: calc(var(--index) * 0.75);
}

.Show {
  opacity: 1;
  visibility: visible;
}

.arrow svg {
  transform: rotate(180deg);
}

@media screen and (max-width: 500px) {
  .myeducations1,
  .myeducations2,
  .myeducations3 {
    font-size: calc(var(--index) * 1.35);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .lsg_educations_name_title,
  .lsg_educations_name_title2 {
    text-align: center;
  }
  .lsg_educations_jobs_details1,
  .lsg_educations_jobs_details2,
  .lsg_educations_jobs_details3 {
    font-size: 0.73rem;
  }
  .lsg_educations_datum1,
  .lsg_educations_datum2,
  .lsg_educations_datum3 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .educations_constent1,
  .educations_constent2,
  .educations_constent3 {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .education_content_wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.Main-languages {
  width: 85%;
  height: 73.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  border-radius: 15px;
  background-color: var(--color-green);
  box-shadow: 0px 0px 30px var(--color-green-light1x);
  padding: 2vw;
  margin-top: 15vh;
  flex-direction: column;
  font-family: var(--font-family-header);
  color: var(--color-white);
  box-sizing: border-box;
  transition: 1s;
  animation: shadow-pulse 3s infinite;
  font-family: var(--font-family-Home-italic);
  font-style: italic;
  line-height: 1.3;
  scroll-margin-top: 15vh;
}

.languages {
  width: 90%;
  display: flex;
  flex-direction: column;
}
.languages h2 {
  align-self: center;
  font-size: calc(var(--index) * 1.8);
  font-weight: 600;
  margin-bottom: 5vh;
}

.languag-wrap {
  display: flex;
  margin-bottom: 5vh;
  align-items: center;
  justify-content: center;
}
.languag-wrap:last-child {
  margin-bottom: 0;
}
.languag-wrap h3 {
  width: 20%;
  font-size: calc(var(--index) * 1.2);
  text-align: right;
  padding-right: 2vw;
}

.containers-languag {
  height: calc(var(--index) * 1.4);
  width: 60%;
  background-color: #ddd;
  border-radius: 15px;
  box-shadow: 0px 0px 8px var(--color-green-light1x);
}

.languag-value {
  height: calc(var(--index) * 1.4);
  padding-right: 2vw;
  padding-left: 2vw;
  line-height: 2vw;
  color: var(--color-white);
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: calc(var(--index));
}

.ukrainian,
.russion {
  width: 100%;
  background-color: var(--color-green-light3x);
}

.cheh {
  width: 60%;
  background-color: var(--color-green-light3x);
}

.english {
  width: 25%;
  background-color: var(--color-green-light3x);
}

@media screen and (max-width: 800px) {
  .languag-wrap {
    margin-bottom: 5vh;
  }
  .languag-wrap h3 {
    width: 30%;
    padding-right: 2.3vw;
  }
}
@media screen and (max-width: 500px) {
  .languag-wrap {
    display: flex;
    flex-direction: column;
    margin-bottom: 2.5vh;
  }
  .languag-wrap h3 {
    align-self: flex-start;
    margin-bottom: 1.5vh;
    text-align: left;
    margin-left: 10vw;
    font-size: calc(var(--index) * 1.5);
  }
  .containers-languag {
    align-self: flex-end;
    margin-right: 10vw;
  }
  .containers-languag,
  .languag-value {
    height: calc(var(--index) * 1.6);
    font-size: calc(var(--index));
  }
}
.Main-hobbies {
  width: 85%;
  height: 73.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  border-radius: 15px;
  background-color: var(--color-green);
  box-shadow: 0px 0px 30px var(--color-green-light1x);
  padding: 2vw;
  margin-top: 15vh;
  flex-direction: column;
  font-family: var(--font-family-header);
  color: var(--color-white);
  box-sizing: border-box;
  transition: 1s;
  animation: shadow-pulse 3s infinite;
  font-family: var(--font-family-Home-italic);
  font-style: italic;
  line-height: 1.3;
  scroll-margin-top: 15vh;
}
.Main-hobbies h3 {
  width: 80%;
  text-align: center;
  font-size: calc(var(--index) * 1.6);
  margin-bottom: 3vh;
}
.Main-hobbies p {
  width: 80%;
  text-align: center;
  font-size: calc(var(--index) * 1.3);
}

@media (max-width: 500px) {
  .Main-hobbies h3 {
    font-size: calc(var(--index) * 1.7);
  }
  .Main-hobbies p {
    font-size: calc(var(--index) * 1.4);
  }
}
@media (max-width: 300px) {
  .Main-hobbies h3 {
    font-size: calc(var(--index) * 1.6);
  }
  .Main-hobbies p {
    font-size: calc(var(--index) * 1.3);
  }
}
.Main-character {
  width: 85%;
  height: 73.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  border-radius: 15px;
  background-color: var(--color-green);
  box-shadow: 0px 0px 30px var(--color-green-light1x);
  padding: 2vw;
  margin-top: 15vh;
  flex-direction: column;
  font-family: var(--font-family-header);
  color: var(--color-white);
  box-sizing: border-box;
  transition: 1s;
  animation: shadow-pulse 3s infinite;
  font-family: var(--font-family-Home-italic);
  font-style: italic;
  line-height: 1.3;
  scroll-margin-top: 15vh;
}
.Main-character h3 {
  width: 80%;
  text-align: center;
  font-size: calc(var(--index) * 1.6);
  margin-bottom: 3vh;
}
.Main-character p {
  width: 80%;
  text-align: center;
  font-size: calc(var(--index) * 1.3);
}

@media (max-width: 600px) {
  .Main-character h3 {
    font-size: calc(var(--index) * 1.7);
  }
  .Main-character p {
    font-size: calc(var(--index) * 1.4);
  }
}
@media (max-width: 300px) {
  .Main-character h3 {
    font-size: calc(var(--index) * 1.6);
  }
  .Main-character p {
    font-size: calc(var(--index) * 1.3);
  }
}
.Main {
  width: 100%;
  background: linear-gradient(170deg, var(--color-green-dark2x), var(--color-green-dark1x), var(--color-green-light1x) 60%, var(--color-green-dark1x), var(--color-green-dark2x));
  background-size: 100% 200%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2.7vw;
  flex-direction: column;
  animation: Main-gradientBackground 25s linear infinite;
}

@keyframes Main-gradientBackground {
  0% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 50% 0%;
  }
}
.translucentBg {
  position: relative;
}
.translucentBg::after {
  content: "";
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.Footer {
  margin: 0;
  padding: 1vh 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom, #061900, #124c00);
}

.Footer-p {
  color: var(--color-white);
  font-family: var(--font-family-Raleway);
  font-size: 1.2vw;
  font-weight: 300;
}

.Home,
.skills,
.portfolio,
.about-me {
  transform: translate(0%, -120%);
  opacity: 0;
  transition: all 1s ease 0s;
  z-index: 2;
}

.skills._active {
  transition: all 1s ease 0.15s;
}

.portfolio._active {
  transition: all 1s ease 0.3s;
}

.about-me._active {
  transition: all 1s ease 0.45s;
}

.home-my-foto {
  transform: translate(50%, 0%);
  opacity: 0;
  transition: all 1s ease 0s;
}

.home-my-conten {
  transform: translate(-50%, 0%);
  opacity: 0;
  transition: all 1s ease 0s;
}

.front-end {
  transform: translate(100%, 0%);
  opacity: 0;
  transition: all 1s ease 0s;
}

.back-end {
  transform: translate(-100%, 0%);
  opacity: 0;
  transition: all 1s ease 0s;
}

@media screen and (max-width: 500px) {
  .front-end {
    transform: translate(-23%, 0%);
  }
  .back-end {
    transform: translate(23%, 0%);
  }
}
.myworks1,
.myworks2,
.myworks3,
.myeducations1,
.myeducations2,
.works_jobs_btn1,
.works_jobs_btn2,
.works_jobs_btn3,
.educations_jobs_btn1 {
  transform: translate(0%, 100%);
  opacity: 0;
  transition: all 1s ease 0s;
}

.works_jobs_btn1,
.works_jobs_btn2,
.works_jobs_btn3,
.educations_jobs_btn1 {
  z-index: 2;
}

.lsg_main_languages {
  transform: translate(0%, -100%);
  opacity: 0;
  transition: all 1s ease 1s;
}

.lsg_main_english,
.lsg_main_cheh,
.lsg_main_rus,
.lsg_main_ukranian {
  transform: translate(50%, 0%);
  opacity: 0;
  transition: all 2s ease 0s;
}

.containers-languag {
  transform: translate(-50%, 0%);
  opacity: 0;
  transition: all 2s ease 0s;
}

.lsg_main_hobies_title,
.lsg_main_character_title {
  transform: translate(0%, -120%);
  opacity: 0;
  transition: all 1s ease 0s;
}

.lsg_main_hobies_text,
.lsg_main_character_text {
  transform: translate(0%, 30%);
  opacity: 0;
  transition: all 1s ease 0s;
}

.lsg_PortfolioTitlePage {
  transform: translate(0%, 100%);
  opacity: 0;
  transition: all 1s ease 0s;
}

.portElem {
  transform: translate(100%, 0%);
  opacity: 0;
  transition: all 1s ease-in-out 0s;
}

._active {
  transform: translate(0%, 0%);
  opacity: 1;
  visibility: visible;
}