:root {
    --color-green: #124C00;
    --color-green-dark1x: #182813;
    --color-green-dark2x: #061900;
    --color-green-light1x: #49A82B;
    --color-green-light2x: #64A84E;
    --color-green-light3x: #4caf50;
    --color-white: #fff;
    --color-black: #000;
    --font-family-Raleway: 'Raleway',
        sans-serif;
    --font-family-header: font-family: 'Vollkorn',
        sans-serif;
    --font-family-Home-italic: 'Playpen Sans', cursive, sans-serif;
}