.Home,
.skills,
.portfolio,
.about-me {
    transform: translate(0%, -120%);
    opacity: 0;
    transition: all 1s ease 0s;
    z-index: 10;
}

.skills._active {
    transition: all 1s ease 0.15s;
}

.portfolio._active {
    transition: all 1s ease 0.3s;
}

.about-me._active {
    transition: all 1s ease 0.45s;
}

.home-my-foto {
    transform: translate(50%, 0%);
    opacity: 0;
    transition: all 1s ease 0s;
}

.home-my-conten {
    transform: translate(-50%, 0%);
    opacity: 0;
    transition: all 1s ease 0s;
}

.front-end {
    transform: translate(100%, 0%);
    opacity: 0;
    transition: all 1s ease 0s;
}

.back-end {
    transform: translate(-100%, 0%);
    opacity: 0;
    transition: all 1s ease 0s;
}

@media screen and (max-width: 500px) {
    .front-end {
        transform: translate(-23%, 0%);
    }

    .back-end {
        transform: translate(23%, 0%);
    }
}
.myworks1,
.myworks2,
.myworks3,
.myeducations1,
.myeducations2 {
    transform: translate(0%, 100%);
    opacity: 0;
    transition: all 1s ease 0s;
}
.works_jobs_btn1,
.works_jobs_btn2,
.works_jobs_btn3,
.educations_jobs_btn1 {
    z-index: 10;
}
.lsg_main_languages {
    transform: translate(0%, -100%);
    opacity: 0;
    transition: all 1s ease 1s;
}

.lsg_main_english,
.lsg_main_cheh,
.lsg_main_rus,
.lsg_main_ukranian {
    transform: translate(50%, 0%);
    opacity: 0;
    transition: all 2s ease 0s;
}

.containers-languag {
    transform: translate(-50%, 0%);
    opacity: 0;
    transition: all 2s ease 0s;
}

.lsg_main_hobies_title,
.lsg_main_character_title {
    transform: translate(0%, -120%);
    opacity: 0;
    transition: all 1s ease 0s;
}

.lsg_main_hobies_text,
.lsg_main_character_text {
    transform: translate(0%, 50%);
    opacity: 0;
    transition: all 1s ease 0s;
}

._active {
    transform: translate(0%, 0%);
    opacity: 1;
}
